body{
  background: white!important;
}

[ntech='iconDiv']{
  padding: 7.5px;
  position: fixed;
  z-index: 999999999;
  top: 100px;
  right: 0;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

[ntech='icon']{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  max-width: 40px !important;
  max-height: 40px !important;
}