*, :after, :before {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

svg {
  shape-rendering: crispEdges;
}

.style1{
  font-feature-settings: "rlig" 1,"calt" 0;
  --banner-height: 0px;
  --vh100-offset: calc(var(--header-height) + var(--banner-height));
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-gap-section: var(--geist-space-small);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --geist-text-gradient: linear-gradient(180deg,rgba(0,0,0,.8),#000);
  --font-mono: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --font-space-grotesk: Space Grotesk,var(--font-sans);
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0,0,0,.1);
  --header-background: hsla(0,0%,100%,.8);
  --header-import-flow-background: hsla(0,0%,98%,.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
  --inset-border: 1px solid rgba(0,0,0,.1);
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #d8ccf1;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-violet-background: #fff;
  --geist-violet-background-secondary: #291c3a;
  --geist-violet-background-tertiary: #eae5f4;
  --geist-background-rgb: 255,255,255;
  --geist-foreground-rgb: 0,0,0;
  --geist-console-header: #efe7ed;
  --geist-console-purple: #7928ca;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #0070f3;
  --geist-console-text-color-pink: #eb367f;
  --geist-console-text-color-purple: #7928ca;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-foreground);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0,0%,100%,0);
  --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
  --shadow-small: 0 5px 10px rgba(0,0,0,.12);
  --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
  --shadow-large: 0 30px 60px rgba(0,0,0,.12);
  --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);
  --portal-opacity: 0.25;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --next-icon-border: #000;
  --next-selection: var(--geist-success);
  --next-selection-text-color: #fff;
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: calc(var(--geist-page-width) + (var(--geist-page-margin) * 2));
  --geist-selection: var(--next-selection);
  --geist-selection-text-color: var(--next-selection-text-color);
  --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --100vh: 661px;
  color-scheme: light;
  font-size: 100%;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  color: var(--geist-foreground);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.65;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 3000;
  transition: background .6s ease;
  transform: translateZ(0);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0,0%,100%,.8);
  border-bottom: unset;
  position: sticky;
  top: 0;
}

.style2{
  font-feature-settings: "rlig" 1,"calt" 0;
  --banner-height: 0px;
  --vh100-offset: calc(var(--header-height) + var(--banner-height));
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-gap-section: var(--geist-space-small);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --geist-text-gradient: linear-gradient(180deg,rgba(0,0,0,.8),#000);
  --font-mono: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --font-space-grotesk: Space Grotesk,var(--font-sans);
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0,0,0,.1);
  --header-background: hsla(0,0%,100%,.8);
  --header-import-flow-background: hsla(0,0%,98%,.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
  --inset-border: 1px solid rgba(0,0,0,.1);
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #d8ccf1;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-violet-background: #fff;
  --geist-violet-background-secondary: #291c3a;
  --geist-violet-background-tertiary: #eae5f4;
  --geist-background-rgb: 255,255,255;
  --geist-foreground-rgb: 0,0,0;
  --geist-console-header: #efe7ed;
  --geist-console-purple: #7928ca;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #0070f3;
  --geist-console-text-color-pink: #eb367f;
  --geist-console-text-color-purple: #7928ca;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-foreground);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0,0%,100%,0);
  --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
  --shadow-small: 0 5px 10px rgba(0,0,0,.12);
  --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
  --shadow-large: 0 30px 60px rgba(0,0,0,.12);
  --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);
  --portal-opacity: 0.25;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --next-icon-border: #000;
  --next-selection: var(--geist-success);
  --next-selection-text-color: #fff;
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: calc(var(--geist-page-width) + (var(--geist-page-margin) * 2));
  --geist-selection: var(--next-selection);
  --geist-selection-text-color: var(--next-selection-text-color);
  --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --100vh: 332px;
  color-scheme: light;
  font-size: 100%;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  color: var(--geist-foreground);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.65;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1024px;
  text-align: center;
}

.style3{
  font-feature-settings: "rlig" 1,"calt" 0;
  --banner-height: 0px;
  --vh100-offset: calc(var(--header-height) + var(--banner-height));
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-gap-section: var(--geist-space-small);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --geist-text-gradient: linear-gradient(180deg,rgba(0,0,0,.8),#000);
  --font-mono: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --font-space-grotesk: Space Grotesk,var(--font-sans);
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0,0,0,.1);
  --header-background: hsla(0,0%,100%,.8);
  --header-import-flow-background: hsla(0,0%,98%,.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
  --inset-border: 1px solid rgba(0,0,0,.1);
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #d8ccf1;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-violet-background: #fff;
  --geist-violet-background-secondary: #291c3a;
  --geist-violet-background-tertiary: #eae5f4;
  --geist-background-rgb: 255,255,255;
  --geist-foreground-rgb: 0,0,0;
  --geist-console-header: #efe7ed;
  --geist-console-purple: #7928ca;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #0070f3;
  --geist-console-text-color-pink: #eb367f;
  --geist-console-text-color-purple: #7928ca;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-foreground);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0,0%,100%,0);
  --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
  --shadow-small: 0 5px 10px rgba(0,0,0,.12);
  --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
  --shadow-large: 0 30px 60px rgba(0,0,0,.12);
  --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);
  --portal-opacity: 0.25;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --next-icon-border: #000;
  --next-selection: var(--geist-success);
  --next-selection-text-color: #fff;
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: calc(var(--geist-page-width) + (var(--geist-page-margin) * 2));
  --geist-selection: var(--next-selection);
  --geist-selection-text-color: var(--next-selection-text-color);
  --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --100vh: 332px;
  color-scheme: light;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  color: var(--geist-foreground);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.65;
  text-align: center;
  box-sizing: border-box;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border-width: 0;
  user-select: none;
}

.style4{
  font-feature-settings: "rlig" 1,"calt" 0;
  --banner-height: 0px;
  --vh100-offset: calc(var(--header-height) + var(--banner-height));
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-gap-section: var(--geist-space-small);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --geist-text-gradient: linear-gradient(180deg,rgba(0,0,0,.8),#000);
  --font-mono: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --font-space-grotesk: Space Grotesk,var(--font-sans);
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0,0,0,.1);
  --header-background: hsla(0,0%,100%,.8);
  --header-import-flow-background: hsla(0,0%,98%,.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
  --inset-border: 1px solid rgba(0,0,0,.1);
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #d8ccf1;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-violet-background: #fff;
  --geist-violet-background-secondary: #291c3a;
  --geist-violet-background-tertiary: #eae5f4;
  --geist-background-rgb: 255,255,255;
  --geist-foreground-rgb: 0,0,0;
  --geist-console-header: #efe7ed;
  --geist-console-purple: #7928ca;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #0070f3;
  --geist-console-text-color-pink: #eb367f;
  --geist-console-text-color-purple: #7928ca;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-foreground);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0,0%,100%,0);
  --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
  --shadow-small: 0 5px 10px rgba(0,0,0,.12);
  --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
  --shadow-large: 0 30px 60px rgba(0,0,0,.12);
  --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);
  --portal-opacity: 0.25;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --next-icon-border: #000;
  --next-selection: var(--geist-success);
  --next-selection-text-color: #fff;
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: calc(var(--geist-page-width) + (var(--geist-page-margin) * 2));
  --geist-selection: var(--next-selection);
  --geist-selection-text-color: var(--next-selection-text-color);
  --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --100vh: 332px;
  color-scheme: light;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  color: var(--geist-foreground);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.65;
  text-align: center;
  box-sizing: border-box;
  font-size: 1rem;
  position: relative;
  flex: 1 1;
  height: 80px;
  display: flex;
  align-items: center;
}

.style5{
  font-feature-settings: "rlig" 1,"calt" 0;
  --banner-height: 0px;
  --vh100-offset: calc(var(--header-height) + var(--banner-height));
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-gap-section: var(--geist-space-small);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --geist-text-gradient: linear-gradient(180deg,rgba(0,0,0,.8),#000);
  --font-mono: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --font-space-grotesk: Space Grotesk,var(--font-sans);
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0,0,0,.1);
  --header-background: hsla(0,0%,100%,.8);
  --header-import-flow-background: hsla(0,0%,98%,.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
  --inset-border: 1px solid rgba(0,0,0,.1);
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #d8ccf1;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-violet-background: #fff;
  --geist-violet-background-secondary: #291c3a;
  --geist-violet-background-tertiary: #eae5f4;
  --geist-background-rgb: 255,255,255;
  --geist-foreground-rgb: 0,0,0;
  --geist-console-header: #efe7ed;
  --geist-console-purple: #7928ca;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #0070f3;
  --geist-console-text-color-pink: #eb367f;
  --geist-console-text-color-purple: #7928ca;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-foreground);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0,0%,100%,0);
  --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
  --shadow-small: 0 5px 10px rgba(0,0,0,.12);
  --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
  --shadow-large: 0 30px 60px rgba(0,0,0,.12);
  --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);
  --portal-opacity: 0.25;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --next-icon-border: #000;
  --next-selection: var(--geist-success);
  --next-selection-text-color: #fff;
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: calc(var(--geist-page-width) + (var(--geist-page-margin) * 2));
  --geist-selection: var(--next-selection);
  --geist-selection-text-color: var(--next-selection-text-color);
  --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --100vh: 332px;
  color-scheme: light;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  color: var(--geist-foreground);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.65;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  grid-gap: 26px;
  gap: 26px;
}

.style6{
  font-feature-settings: "rlig" 1,"calt" 0;
  --banner-height: 0px;
  --vh100-offset: calc(var(--header-height) + var(--banner-height));
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-gap-section: var(--geist-space-small);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --geist-text-gradient: linear-gradient(180deg,rgba(0,0,0,.8),#000);
  --font-mono: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --font-space-grotesk: Space Grotesk,var(--font-sans);
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0,0,0,.1);
  --header-background: hsla(0,0%,100%,.8);
  --header-import-flow-background: hsla(0,0%,98%,.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
  --inset-border: 1px solid rgba(0,0,0,.1);
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #d8ccf1;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-violet-background: #fff;
  --geist-violet-background-secondary: #291c3a;
  --geist-violet-background-tertiary: #eae5f4;
  --geist-background-rgb: 255,255,255;
  --geist-foreground-rgb: 0,0,0;
  --geist-console-header: #efe7ed;
  --geist-console-purple: #7928ca;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #0070f3;
  --geist-console-text-color-pink: #eb367f;
  --geist-console-text-color-purple: #7928ca;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-foreground);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0,0%,100%,0);
  --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
  --shadow-small: 0 5px 10px rgba(0,0,0,.12);
  --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
  --shadow-large: 0 30px 60px rgba(0,0,0,.12);
  --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);
  --portal-opacity: 0.25;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --next-icon-border: #000;
  --next-selection: var(--geist-success);
  --next-selection-text-color: #fff;
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: calc(var(--geist-page-width) + (var(--geist-page-margin) * 2));
  --geist-selection: var(--next-selection);
  --geist-selection-text-color: var(--next-selection-text-color);
  --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --100vh: 332px;
  color-scheme: light;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.65;
  text-align: center;
  box-sizing: border-box;
  color: #0074de;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 90px;
  text-decoration: none;
  transition: color .2s ease;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.mute{
  font-feature-settings: "rlig" 1,"calt" 0;
  --banner-height: 0px;
  --vh100-offset: calc(var(--header-height) + var(--banner-height));
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-gap-section: var(--geist-space-small);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --geist-text-gradient: linear-gradient(180deg,rgba(0,0,0,.8),#000);
  --font-mono: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --font-space-grotesk: Space Grotesk,var(--font-sans);
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0,0,0,.1);
  --header-background: hsla(0,0%,100%,.8);
  --header-import-flow-background: hsla(0,0%,98%,.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
  --inset-border: 1px solid rgba(0,0,0,.1);
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #d8ccf1;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-violet-background: #fff;
  --geist-violet-background-secondary: #291c3a;
  --geist-violet-background-tertiary: #eae5f4;
  --geist-background-rgb: 255,255,255;
  --geist-foreground-rgb: 0,0,0;
  --geist-console-header: #efe7ed;
  --geist-console-purple: #7928ca;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #0070f3;
  --geist-console-text-color-pink: #eb367f;
  --geist-console-text-color-purple: #7928ca;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-foreground);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0,0%,100%,0);
  --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
  --shadow-small: 0 5px 10px rgba(0,0,0,.12);
  --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
  --shadow-large: 0 30px 60px rgba(0,0,0,.12);
  --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);
  --portal-opacity: 0.25;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --next-icon-border: #000;
  --next-selection: var(--geist-success);
  --next-selection-text-color: #fff;
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: calc(var(--geist-page-width) + (var(--geist-page-margin) * 2));
  --geist-selection: var(--next-selection);
  --geist-selection-text-color: var(--next-selection-text-color);
  --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --100vh: 332px;
  color-scheme: light;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.65;
  text-align: center;
  box-sizing: border-box;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  color: #696969;
  text-decoration: none;
  transition: color .2s ease;
  font-size: 14px;
  font-weight: 500;
  margin-left: 26px;
}